
body{
  position: absolute;
  width: 1280px;
  height: 4194px;
  margin: 0px;
  font-family: Noto Sans;
}

.header{
  position: relative;
  width: 1280px;
  height: 60px; 
  
}

.header p{
  position: absolute;
  margin-top: 15px;
  margin-left: 88px;
  width: 62px;
  height: 35px;  
  font-size: 16px;
  color: #918F89;
  text-align: center;
}

.header ul{
  position: absolute;
  width: 336px;
  height: 35px;
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 25px 89px 0px 855px;
  justify-content: space-between;
  font-size: 16px;
}

.header ul li a{
  text-decoration: none;
}

.header ul #list_about{
  padding-top: 3px;
  border-bottom: 3px solid black;
}

/* ハンバーガーメニュ */

.global-nav {
  display: none;
  position: absolute;
  /* これで隠れる */
  left: 0;
  top: -244px;
  width: 375px; /* スマホに収まるくらい */
  height: 244px;
  background-color: #918F89;
  transition: all 0.6s;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
  opacity: 0.9;
}

.hamburger {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px; /* クリックしやすいようにちゃんと幅を指定する */
  height: 40px; /* クリックしやすいようにちゃんと高さを指定する */
}

.global-nav__list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.global-nav__item {
  text-align: center;
}

.global-nav__item a {
  height: 56px;
  padding-top: 24px;
  display: block;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: black;
}

.global-nav__item a:hover {
  background-color: #eee;
}

.hamburger__line {
  position: absolute;
  left: 11px;
  width: 18px;
  height: 1px;
  background-color: #FFFFFF;
  transition: all .6s;
}
.hamburger__line--top {
  top: 14px;
}
.hamburger__line--middle {
  top: 20px;
}
.hamburger__line--bottom {
  top: 26px;
}

/* 表示された時用のCSS */
.nav-open .global-nav {
  top: 0;
}
.nav-open .black-bg {
  opacity: .8;
  visibility: visible;
}
.nav-open .hamburger__line--top {
  transform: rotate(45deg);
  top: 20px;
}
.nav-open .hamburger__line--middle {
  width: 0;
  left: 50%;
}
.nav-open .hamburger__line--bottom {
  transform: rotate(-45deg);
  top: 20px;
}


/*  
  headerはlistの色以外完了
*/

.img_1_space{
  position: relative;
  width: 1280px;
  height: 741px;
}

.img_1_space #comment{
  position: absolute;
  top: 264px;
  margin: 0px;
  width: 614px;
  height: 105px;
  background-color: #FFFFFF;
  opacity: 0.8;
  color: #918F89;
  font-size: 60px;
  letter-spacing: 3px;
  padding-top: 31px;
  padding-left: 88px;
  
}

.img_1_space #comment_m{
  position: absolute;
  top: 148px;
  margin: 0px;
  width: 228px;
  height: 255px;
  display: none;
  color: #918F89;
  font-size: 39px;
}


.proposal{
  position: relative;
  width: 1280px;
  height: 852px;
  margin: 0px;
}

.proposal p .change_line{
  display: none;
}

#img_2{
  position: absolute;
  margin-top: 142px;
  margin-left: 88px;
  float: left;
}

#img_2_top{
  position: absolute;
  margin-top: 343px;
  margin-left: 702px;
  font-size: 25px;
  float: left;
}

#img_2_content{
  position: absolute;
  margin-top: 412px;
  margin-left: 702px;
  float: left;
  font-size: 12px;
  line-height: 35px;
}

.chair{
  position: relative;
  width: 1280px;
  height: 818px;
  margin: 0px;
}

#img_3_content{
  position: absolute;
  margin-left: 543px;
  margin-top: 0px;
  width: 194px;
  height: 29px;
  text-align: left;
  font-size: 25px;
  letter-spacing: 2.5px;
  color: #3B3B3B;
  opacity: 1;
  }

#img_3{
  position: absolute;
  margin-top: 69px;;
  margin-left: 158px;
}

.news{
  position: relative;
  width: 1280px;
  height: 748px;
}

.news h1{
  position: absolute;
  margin-top: 0px;
  margin-left: 600.5px;
  font-size: 25px;
}

.news div img{
  width: 334px;
  height: 387px;
}

#img_4{
  position: relative;
  margin-top: 79px;
  margin-left: 89px;
}

#img_4_cover{
  position: absolute;
  width: 334px;
  height: 387px;
  top: 79px;
  left: 89px;
}

#img_4_cover:hover{
  background-color: #000000;
  opacity: 0.6;
}

#img_5{
  position: relative;
  margin-left: 50px;
}

#img_5_cover{
  position: absolute;
  top: 79px;
  left: 478px;
  width: 334px;
  height: 387px;
}

#img_5_cover:hover{
  background-color: #000000;
  opacity: 0.6;
}

#img_6{
  position: relative;
  margin-left: 50px;
}

#img_6_cover{
  position: absolute;
  width: 334px;
  height: 387px;
  top: 79px;
  left: 865px;
}

#img_6_cover:hover{
  background-color: #000000;
  opacity: 0.6;
}


.news a{
  position: absolute;
  margin-top: 50px;
  margin-left: 590px;
  font-size: 21px;
}

.news a{
  text-decoration: none;
}

.form_group{
  position: relative;
  width: 1280px;
  height: 692px;
  margin: 0px;
}

#form_head{
  position: absolute;
  margin-top: 0px;
  margin-left: 574.5px;
  width: 131px;
  height: 29px;
  font-size: 25px;
}

#name{
  position: absolute;
  display: inline-block;
  margin-left: 409px;
  margin-top: 89px; 
  width: 463px;
  height: 35px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.5px solid #707070;
  border-radius: 11px;
  opacity: 0.6;
}

#email{
  position: absolute;
  display: inline-block;
  margin-left: 409px;
  margin-top: 154px;
  width: 463px;
  height: 35px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.5px solid #707070;
  border-radius: 11px;
  opacity: 0.6;
  }

#content{
  position: absolute;
  display: inline-block;
  width: 463px;
  height: 156px;
  margin-top: 219px;
  margin-left: 409px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.5px solid #707070;
  border-radius: 11px;
  opacity: 0.6;
  text-align: left;
  font: L 12px/53px DNPShueiMinPr6;
  letter-spacing: 0.6px;
  color: #3B3B3B;
}

#submit{
  position: absolute;
  display: inline-block;
  margin-left: 584px;
  margin-top: 435px;
  width: 111px;
  height: 35px;
  background: #D1D1D1 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 25px;
  color: #707070;
}

.footer{
  position: relative;
  width: 1280px;
  height: 284px;
  background-color: #918F89;
}

.footer p{
  position: absolute;
  margin-top: 116px;
  margin-left: 227px;
  width: 77px;
  height: 48px;
  float: left;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
}

.footer ul{
  position: absolute;
  width: 335px;
  height: 24px;
  margin-top: 136px;
  margin-left: 726px;
  list-style: none;
  display: flex;
  padding: 0px;
  justify-content: space-between;
  font-size: 18px;
}

.footer ul li a{
  text-decoration: none;
}

#end{
  position: absolute;
  margin-top: 235px;
  margin-left: 599px;
  width: 82px;
  height: 9px;
  float: left;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;

}


/*スマホ用*/
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
  body{
    position: absolute;
    width: 375px;
    height: 4142px;
    margin: 0px;
    font-family: Noto Sans;
  }
  
  .header{
    width: 375px;
    height: 55px;
    margin: 0px;
    background-color: #918F89;
    z-index: 400;
  }
  
  .header p{
    position: absolute;
    margin-top: 11px;
    margin-left: 154px;
    width: 68px;
    height: 40px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    }
  
  .header #pc_list{
    display: none;
  }
  
  .global-nav {
    display: inline;
  }

  .img_1_space{
    position: relative;
    max-width: 375px;
    width: 375px;
    height: 647px;
  }

  .img_1{
    width: 100%;
    height: auto;
  }

  .img_1_space #comment{
    display: none;
  }

  .img_1_space #comment_m{
    display: inline;
  }

  .img_1_space #comment_m .first_line{
    height: 58px;
    background-color: #FFFFFF;
    display: inline-block;
    padding-left: 54px;
    opacity: 0.6;
    padding-top: 19px;
    width: 82px;
  }

  .img_1_space #comment_m .second_line{
    height: 58px;
    background-color: #FFFFFF;
    display: block;
    margin-top: 12px;
    padding-left: 54px;
    opacity: 0.6;
    padding-top: 19px;
  }

  .img_1_space #comment_m .third_line{
    height: 58px;
    background-color: #FFFFFF;
    display: block;
    margin-top: 12px;
    padding-left: 54px;
    opacity: 0.6;
    padding-top: 19px;
    width: 119px;
  }

  .proposal{
    position: relative;
    width: 375px;
    height: 812px;
  }
  
  #img_2{
    position: absolute;
    margin-top: 405px;
    margin-left: 44.5px;
    width: 286px;
    height: 266px;
  }
  
  #img_2_top{
    position: absolute;
    margin-top: 66px;
    margin-left: 71px;
    width: 249px;
    height: 29px;
    font-size: 25px;
 
  }

  .proposal p .change_line{
    display: inline;
  }

  #img_2_content{
    position: absolute;
    margin-top: 131px;
    margin-left: 9px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.42px;
    width: 358px;
    height: 224px;
    line-height: 35px;
  }
  
  .chair{
    position: relative;
    width: 375px;
    height: 527px;


  }
  
  #img_3_content{
    position: absolute;
    margin-top: 0px;
    margin-left: 91px;
    width: 194px;
    height: 29px;
    font-size: 25px;
    }
  
  #img_3{
    position: absolute;
    margin-top: 65px;
    margin-left: 8px;
    width: 359px;
    height: 290px;
    display: inline-block;
    font-size: 25px;
  }
  
  .news{
    position: relative;
    width: 375px;
    height: 1183px;
  }

  .news h1{
    position: absolute;
    margin-top: 0px;
    margin-left: 149px;
    width: 78px;
    height: 29px;
    font-size: 25px;
  }

  .news div img{
    width: 286px;
    height: 276px;
  }
  
  #img_4{
    position: relative;
    margin-top: 94px;
    margin-left: 44.5px;
    border: 0.800000011920929px solid #70707033; 
  }

  #img_4_cover{
    position: absolute;
    width: 286px;
    height: 276px;
    top: 94px;
    left: 44.5px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.6;
  }
  
  #img_5{
    position: relative;
    margin-top: 30px;
    margin-left: 44.5px;
    border: 0.800000011920929px solid #70707033;
  }

  #img_5_cover{
    position: absolute;
    width: 286px;
    height: 276px;
    top: 406px;
    left: 44.5px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.6;
  }
  
  #img_6{
    position: relative;
    margin-top: 30px;
    margin-left: 44.5px;
    border: 0.800000011920929px solid #70707033;
  }

  #img_6_cover{
    position: absolute;
    width: 286px;
    height: 276px;
    top: 718px;
    left: 44.5px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.6;
  }
  
  
  .news a{
    position: absolute;
    margin-top: 20px;
    margin-left: 135px;
    width: 105px;
    height: 22px;
    font-size: 21px;
    text-decoration: none;
  }
  
  .form_group{
    position: relative;
    width: 375px;
    height: 633px;
  }
  
  #form_head{
    position: relative;
    margin-top: 0px;
    margin-left: 126px;
    margin-bottom: 0px;
    width: 124px;
    height: 29px;
    font-size: 25px;
    
  }
  
  #name{
    position: relative;
    margin-top: 65px;
    margin-left: 44px;
    width: 286px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
  }
  
  #email{
    position: relative;
    margin-top: 20px;
    margin-left: 44px;
    width: 286px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
    
  }
  
  #content{
    position: relative;
    margin-top: 35px;
    margin-left: 44px;
    width: 286px;
    height: 156px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
  }
  
  #submit{
    position: relative;
    margin-top: 35px;
    margin-left: 100px;
    width: 174px;
    height: 49px;
    border: 0px;
    background: #D1D1D1 0% 0% no-repeat padding-box;
    border-radius: 25px;
    opacity: 1;
  }



  
  .footer{
    position: relative;
    width: 375px;
    height: 276px;
    background-color: #918F89;

  }
  
  .footer p{
    position: absolute;
    margin-top: 86px;
    margin-left: 153.5px;
    width: 68px;
    height: 40px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;

  }

  .footer ul{
    display: none;
  }
  
  #end{
    position: relative;
    margin-top: 189px;
    margin-left: 146px;
    width: 82px;
    height: 9px;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    opacity: 1;
  }
  }