body{
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 1661px;
  background: #FCFCFC 0% 0% no-repeat padding-box;
  opacity: 1;
}

/* header終了 */
.header{
  width: 1280px;
  height: 60px;
  margin: 0px;
  
}

#logo{
  position: absolute;
  margin-top: 15px;
  margin-left: 88px;
  width: 62px;
  height: 35px;
  text-align: center;
  text-align: center;
  font-size: 16px;
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal; 
  letter-spacing: 0;
  color: #918F89;
  opacity: 1;
  }

#nav{
  position: absolute;
  margin-top: 25px;
  margin-left: 855px;
  width: 335px;
  height: 35px;
}

#nav a{
  text-decoration: none;
}

#h_about{
  position: absolute;
  margin-top: 3px;
  margin-left: 0px;
  width: 43px;
  height: 22px;
  font-size: 16px;
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal; 
  letter-spacing: 0;
  color: #272727;
  opacity: 0.5;
}

#h_news{
  position: absolute;
  margin-top: 0px;
  margin-left: 150px;
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal; 
  font-size: 16px;
  color: #272727;
  opacity: 0.5;

}
#h_qa{
  position: absolute;
  margin-top: 0px;
  margin-left: 302px;
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal; 
  font-size: 16px;
  color: #272727;
  opacity: 0.5;
}
/* header終了 */

/* でかい写真ゾーン */
.img_8_space{
  position: relative;
  width: 1280px;
  height: 415px;
}

.img_8_space p{
  position: absolute;
  top: 187px;
  left: 240px;
  width: 96px;
  height: 29px;
  text-align: left;
  font-size: 30px;
  letter-spacing: 3px;
  color: #FFFFFF;
  opacity: 1;
  margin: 0px;
}
/* でかい写真ゾーン */

/* よくある質問 */
.qa{
  position: relative;
  width: 375px;
  height: 902px;
  margin: 0px;
}

.qa h1{
  position: absolute;
  width: 137px;
  height: 30px;
  margin-top: 92px;
  margin-left: 570.5px;
  font-size: 21px;
}

.qa ol{
  position: absolute;
  width: 474px;
  height: 587px;
  margin-top: 192px;
  margin-left: 403px;
  list-style: none;
  line-height: 100px
  ;
}
/* footer終了 */
.footer{
  position: relative;
  width: 1280px;
  height: 284px;
  background-color: #918F89;
}

#f_logo{
  position: absolute;
  margin-top: 116px;
  margin-left: 227px;
  width: 77px;
  height: 48px;
  float: left;
  color: #FFFFFF;
  font-size: 22px;
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#f_about{
  position: absolute;
  margin-top: 136px;
  margin-left: 726px;
  width: 48px;
  height: 24px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  float: left;
  color: #FFFFFF;
  font-size: 18px;
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
  
}

#f_news{
  position: absolute;
  margin-top: 133px;
  margin-left: 876px;
  width: 43px;
  height: 24px;
  float: left;
  color: #FFFFFF;
  font-size: 18px;
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#f_qa{
  position: absolute;
  margin-top: 133px;
  margin-left: 1022px;
  width: 37px;
  height: 24px;
  float: left;
  color: #FFFFFF;
  font-size: 18px;
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#copy_right{
  position: absolute;
  margin-top: 235px;
  margin-left: 599px;
  width: 82px;
  height: 9px;
  float: left;
  font-size: 10px;
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;

}
/* footer終了 */


/* スマホ用 */
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
  body{
    position: absolute;
    width: 375px;
    height: 1360px;
    margin: 0px;
  }
  
  /* header終了 */
  .header{
    width: 375px;
    height: 55px;
    margin: 0px;
    background-color: #918F89;
  }
  
  #logo{
    position: absolute;
    margin-top: 11px;
    margin-left: 154px;
    width: 68px;
    height: 40px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    
    }
  
  
  #nav{
    display: none;
    
  }
  /*
  #h_about{
    
  }
  
  #h_news{
    
  
  }
  #h_qa{
    
  
  }
  */

  /* header終了 */

  /* でかい画像ゾーン */
  .img_8_space{
    position: relative;
    max-width: 375px;
    width: 375px;
    height: 399px;
  }

  .img_8_space p{
    position: absolute;
    top: 56px;
    left: 145px;
    width: 80px;
    height: 29px;
    text-align: left;
    font-size: 30px;
    letter-spacing: 3px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0px;
  }



  .img_8{
    width: 100%;
    height: auto;
  }
  /* でかい画像ゾーン */
  .qa{
    position: relative;
    width: 375px;
    height: 630px;
    margin: 0px;
  }
  
  .qa h1{
    position: absolute;
    margin-left: 118px;
    margin-top: 70px;
  }
  
  .qa ol{
    width: 267px;
    position: absolute;
    margin-top: 149px;
    margin-left: 56px;
    list-style: none;
    padding: 0px;
    line-height: 30px;
  }


  /* footer終了 */
  .footer{
    position: relative;
    width: 375px;
    height: 274px;
    background-color: #918F89;

  }
  
  #f_logo{
    position: absolute;
    margin-top: 86px;
    margin-left: 153.5px;
    width: 68px;
    height: 40px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;

  }
  
  #f_about{
    display: none;
  }
  
  #f_news{
    display: none;
  }
  
  #f_qa{
    display: none;
  }
  
  #copy_right{
    position: relative;
    margin-top: 189px;
    margin-left: 146px;
    width: 82px;
    height: 9px;
    text-align: center;
    font: Light 10px/16px Gill Sans;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    opacity: 1;
  }
  /* footer終了 */
} 