@charset "UTF-8";
@media screen and (min-width: 480px) {
  /*ウィンドウ幅が最大479pxまでの場合に適用*/
  body {
    font-family: Noto Sans;
  }
  body header {
    height: 60px;
    padding-left: 7%;
    padding-right: 7%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
  body header p {
    width: 62px;
    height: 35px;
    font-size: 16px;
    color: #918F89;
  }
  body header nav {
    width: 60%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body header nav div {
    display: none;
  }
  body header nav ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 16px;
    padding-left: 30%;
    margin-top: 26px;
    margin-bottom: 0;
  }
  body header nav ul li {
    padding-bottom: 13px;
  }
  body header nav ul li a {
    text-decoration: none;
    color: #918F89;
  }
  body header nav ul #list_about {
    border-bottom: 3px solid black;
  }
  body header nav ul #list_about a {
    color: #000000;
  }
  body main {
    width: 100%;
  }
  body main h1 {
    background-image: url("./img/AdobeStock_img1.png");
    background-size: cover;
    height: 721px;
    width: 100%;
    margin: 0;
    padding-top: 264px;
    padding-bottom: 341px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body main h1 span {
    padding-top: 31px;
    padding-bottom: 23px;
    display: block;
    background-color: #FFFFFF;
    color: #918F89;
    font-size: 60px;
    opacity: 0.6;
  }
  body main h1 .first_line {
    padding-left: 88px;
  }
  body main h1 .second_line {
    padding-left: 20px;
  }
  body main h1 .third_line {
    padding-left: 20px;
    padding-right: 60px;
  }
  body main .proposal {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 6% 0%;
    padding: 0% 6%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body main .proposal .proposal_container {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .proposal .proposal_container h2 {
    font-size: 25px;
  }
  body main .proposal .proposal_container p {
    font-size: 12px;
    line-height: 30px;
  }
  body main .proposal img {
    width: 42.5%;
  }
  body main .chair {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 15%;
  }
  body main .chair h2 {
    text-align: center;
    width: 100%;
    font-size: 25px;
    height: 582px;
    letter-spacing: 2.5px;
    color: #3B3B3B;
    margin-bottom: 50px;
    background-image: url("./img/AdobeStock_img3.png");
    background-repeat: no-repeat;
    background-position: bottom;
  }
  body main .chair #select_btn {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 6px;
  }
  body main .chair #select_btn .hidari_maru {
    color: #707070;
    opacity: 0.2;
  }
  body main .chair #select_btn .center_maru {
    color: #707070;
    opacity: 0.8;
  }
  body main .chair #select_btn .migi_maru {
    color: #707070;
    opacity: 0.2;
  }
  body main .news {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 15%;
  }
  body main .news h2 {
    margin-top: 0;
    margin-bottom: 5%;
    font-size: 25px;
  }
  body main .news .container_wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0% 5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 39px;
  }
  body main .news .container_wrapper .container {
    position: relative;
    text-align: center;
  }
  body main .news .container_wrapper .container .text {
    position: absolute;
    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: transparent;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    font-size: 18px;
    width: 100%;
    opacity: 0.8;
    font-family: "";
  }
  body main .news .container_wrapper .container img {
    width: 100%;
  }
  body main .news .container_wrapper .container::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  body main .news .container_wrapper .container:hover:before {
    height: 100%;
  }
  body main .news .container_wrapper .container:hover .text {
    color: white;
    top: 50%;
  }
  body main .news a {
    text-decoration: none;
    color: #000000;
    font-size: 21px;
  }
  body main .form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 200px;
  }
  body main .form h2 {
    font-size: 25px;
    margin-bottom: 50px;
  }
  body main .form .form_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .form .form_group input {
    background: #FFFFFF;
    border: 0.5px solid #707070;
    border-radius: 11px;
    font-size: 12px;
    padding: 2%;
    opacity: 0.6;
    margin-bottom: 8%;
    width: 100%;
  }
  body main .form .form_group textarea {
    background: #FFFFFF;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
    font-size: 12px;
    padding: 2%;
    letter-spacing: 0.6px;
    color: #3B3B3B;
    margin-bottom: 8%;
  }
  body main .form .form_group #submit {
    width: 24%;
    font-size: 12%;
    border-radius: 25px;
    background-color: #707070;
    color: #FFFFFF;
    font-size: 15px;
  }
  body footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 300px;
    background-color: #918F89;
    padding: 116px 17% 35px 18%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
  }
  body footer #logo {
    color: #FFFFFF;
    font-style: normal;
    width: 50px;
    font-size: 22px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
  }
  body footer ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 18px;
    width: 30%;
    padding: 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  body footer ul li a {
    text-decoration: none;
    color: #FFFFFF;
  }
  body footer #end {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 10px;
    color: #FFFFFF;
    margin: 0;
    margin-left: 20%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media screen and (max-width: 479px) {
  /*ウィンドウ幅が最大479pxまでの場合に適用*/
  body {
    font-family: Noto Sans;
  }
  body header {
    width: 100%;
    height: 55px;
    background-color: #918F89;
    z-index: 100;
  }
  body header p {
    width: 15%;
    height: 30px;
    padding-top: 3%;
    margin-left: 42.5%;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;
    z-index: 3;
  }
  body header .hamburger {
    width: 36px;
    height: 22px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    top: 0;
    z-index: 2;
  }
  body header .hamburger .hamburger__line {
    position: absolute;
    left: 11px;
    width: 36px;
    height: 1px;
    background-color: #FFFFFF;
    -webkit-transition: all .6s;
    transition: all .6s;
  }
  body header .hamburger .hamburger__line--top {
    top: 14px;
  }
  body header .hamburger .hamburger__line--middle {
    top: 26px;
  }
  body header .hamburger .hamburger__line--bottom {
    top: 38px;
  }
  body header .global-nav {
    position: absolute;
    left: 0;
    top: -244px;
    width: 100%;
    height: 244px;
    background-color: #918F89;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    overflow-y: auto;
    opacity: 0.8;
    z-index: 1;
  }
  body header .global-nav #pc_list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  body header .global-nav #pc_list .global-nav__item {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  body header .global-nav #pc_list .global-nav__item a {
    padding-top: 25px;
    height: 56px;
    display: block;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: #FFFFFF;
  }
  body main {
    width: 100%;
  }
  body main h1 {
    background-image: url("./img/AdobeStock_1_s.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 702px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 39px;
    margin: 0;
    padding-top: 136px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body main h1 span {
    opacity: 0.6;
    color: #918F89;
    background-color: #FFFFFF;
    margin-top: 12px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 54px;
  }
  body main h1 .first_line {
    width: 82px;
  }
  body main h1 .second_line {
    width: 174px;
  }
  body main h1 .third_line {
    width: 110px;
  }
  body main .proposal {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 6%;
    margin-bottom: 6%;
  }
  body main .proposal .proposal_container {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10%;
  }
  body main .proposal .proposal_container h2 {
    font-size: 25px;
  }
  body main .proposal .proposal_container p {
    font-size: 12px;
    line-height: 30px;
  }
  body main .proposal img {
    padding: 10%;
    width: 80%;
  }
  body main .chair {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 15%;
  }
  body main .chair h2 {
    font-size: 25px;
    text-align: center;
    width: 100%;
    height: 356px;
    letter-spacing: 2.5px;
    color: #3B3B3B;
    margin-bottom: 50px;
    background-image: url("./img/AdobeStock_3_s.png");
    background-repeat: no-repeat;
    background-position: bottom;
  }
  body main .chair #select_btn {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body main .chair #select_btn .hidari_maru {
    color: #707070;
    opacity: 0.2;
  }
  body main .chair #select_btn .center_maru {
    color: #707070;
    opacity: 0.8;
  }
  body main .chair #select_btn .migi_maru {
    color: #707070;
    opacity: 0.2;
  }
  body main .news {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 15%;
  }
  body main .news h2 {
    margin-top: 0;
    margin-bottom: 5%;
    font-size: 25px;
  }
  body main .news .container_wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body main .news .container_wrapper .container {
    position: relative;
    text-align: center;
    margin: 0 10%;
  }
  body main .news .container_wrapper .container img {
    width: 100%;
    height: 276px;
    padding-bottom: 10%;
  }
  body main .news .container_wrapper .container .text {
    position: absolute;
    color: #eee;
    top: 0px;
    left: 0px;
    padding-top: 40%;
    background-color: #000000;
    font-size: 18px;
    width: 100%;
    height: 51%;
    opacity: 0.6;
    font-family: "";
  }
  body main .news a {
    margin-top: 5%;
    text-decoration: none;
    color: #000000;
  }
  body main .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body main .form h2 {
    font-size: 25px;
    margin-top: 80px;
    margin-bottom: 65px;
  }
  body main .form .form_group {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .form .form_group input {
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 11px;
    font-size: 14px;
    padding: 2%;
    opacity: 0.6;
    margin-bottom: 8%;
  }
  body main .form .form_group textarea {
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0.6px;
    color: #3B3B3B;
    margin-bottom: 8%;
  }
  body main .form .form_group #submit {
    width: 55%;
    height: 50px;
    font-size: 14px;
    color: #000000;
    border-radius: 25px;
    background-color: #D1D1D1;
    border: solid 0px;
  }
  body footer {
    width: 100%;
    margin-top: 150px;
    height: 276px;
    background-color: #918F89;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body footer #logo {
    margin-left: 42.5%;
    width: 68px;
    height: 40px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
  }
  body footer ul {
    display: none;
  }
  body footer #end {
    margin-left: 41%;
    width: 82px;
    height: 9px;
    font-size: 10px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
  }
  .nav-open .hamburger__line--top {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
    margin-top: 12px;
  }
  .nav-open .hamburger__line--middle {
    width: 0px;
    margin-left: 20%;
    opacity: 0;
  }
  .nav-open .hamburger__line--bottom {
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
    margin-top: -12px;
  }
  .nav-open .global-nav {
    top: 0;
    margin-top: 54px;
  }
}
/*# sourceMappingURL=index.css.map */