@media screen and (min-width: 480px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
body{
    font-family: Noto Sans;
    header{
        height: 60px;
        padding-left: 7%;
        padding-right: 7%;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        p{
            width: 62px;
            height: 35px;  
            font-size: 16px;
            // padding-left: 7%;
            color: #918F89;
        }
        nav{
            width: 60%;
            box-sizing: border-box;
            div{
                display: none;
            }
            ul{
                list-style: none;
                display: flex;
                justify-content: space-between;
                font-size: 16px;
                padding-left: 30%;
                margin-top: 26px;//
                margin-bottom: 0;
                li{
                    padding-bottom: 13px;
                    a{
                        text-decoration: none;
                        color: #918F89;
                    }
                }
                #list_about{
                    border-bottom: 3px solid black;
                    a{
                        color: #000000;
                        
                    }
                }
            }
        }
    }
    main{
        width: 100%;
        h1{
            background-image: url("./img/AdobeStock_img1.png");
            background-size: cover;
            height: 721px;
            width: 100%;
            margin: 0;
            padding-top: 264px;
            padding-bottom: 341px;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            span{
                padding-top: 31px;
                padding-bottom: 23px;
                display: block;
                background-color: #FFFFFF;
                color: #918F89;
                font-size: 60px;
                opacity: 0.6;
            }
            .first_line{
                padding-left: 88px;
            }
            .second_line{
                padding-left: 20px;
            }
            .third_line{
                padding-left: 20px;
                padding-right: 60px;
            }
        }
        .proposal{ 
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin: 6% 0%;
            padding: 0% 6%;
            box-sizing: border-box;
            .proposal_container{
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h2{
                    font-size: 25px;
                }
                p{
                    font-size: 12px;
                    line-height: 30px;
                }
            }
            img{
                width: 42.5%;
            }       
        }
        .chair{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 15%;
            h2{
                text-align: center;
                width: 100%;
                font-size: 25px;
                height: 582px;
                letter-spacing: 2.5px;
                color: #3B3B3B;
                margin-bottom: 50px;
                background-image: url("./img/AdobeStock_img3.png");
                background-repeat: no-repeat;
                background-position: bottom;
            }
            #select_btn{
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: row;
                font-size: 6px;
                .hidari_maru{
                    
                    color: #707070;
                    opacity: 0.2;
                }
                .center_maru{
                    color: #707070;
                    opacity: 0.8;
                }
                .migi_maru{
                    color: #707070;
                    opacity: 0.2;
                }
            }
        }
        .news{   
            
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 15%;
            h2{
                margin-top: 0;
                margin-bottom: 5%;
                font-size: 25px;
            }
            .container_wrapper{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0% 5%;
                box-sizing: border-box;
                margin-bottom: 39px;
                .container{
                    position: relative;
                    text-align: center;
                    
                    .text{
                        position: absolute;
                        left: 50%;
                        top: 100%;
                        transform: translate(-50%, -50%);
                        color: transparent;
                        transition: .3s ease;
                        font-size: 18px;
                        width: 100%;
                        opacity: 0.8;
                        font-family: "";
                    }
                    img{
                        width: 100%;
                    }
                }
                .container::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    transition: .3s ease;
                    }
                .container:hover:before {
                height: 100%;
                }
                .container:hover .text {
                color: white;
                top: 50%;
                }
            }
            a{
                
                text-decoration: none;
                color: #000000;
                font-size: 21px;
            }
        }
        .form{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 200px;
            h2{
                font-size: 25px;
                margin-bottom: 50px;
            }
            .form_group{
                display: flex;
                flex-direction: column;
                align-items: center;
                input{
                    background: #FFFFFF;
                    border: 0.5px solid #707070;
                    border-radius: 11px;
                    font-size: 12px;
                    padding: 2%;
                    opacity: 0.6;
                    margin-bottom: 8%;
                    width: 100%;
                }
                textarea{
                    background: #FFFFFF;
                    border: 0.5px solid #707070;
                    border-radius: 11px;
                    opacity: 0.6;
                    font-size: 12px;
                    padding: 2%;
                    letter-spacing: 0.6px;
                    color: #3B3B3B;
                    margin-bottom: 8%;
                }
                #submit{
                    width: 24%;
                    font-size: 12%;
                    border-radius: 25px;
                    background-color: #707070;
                    color: #FFFFFF;
                    font-size: 15px;
                }
            }
        }
    }
    footer{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 300px;
        background-color: #918F89;
        padding: 116px 17% 35px 18%;
        box-sizing: border-box;
        text-align: center;
        #logo{
            color: #FFFFFF;
            font-style: normal;
            width: 50px;
            font-size: 22px;
            order: 1;
            margin: 0;
        }
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            width: 30%;
            padding: 0;
            order: 3;
            li{
                a{
                    text-decoration: none;
                    color: #FFFFFF;
                }
            }
        }
        #end{
            order: 2;
            font-size: 10px;
            color: #FFFFFF; 
            margin: 0;
            margin-left: 20%;
            align-self: flex-end;
        }
    }
}
}
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    body{
        font-family: Noto Sans;
        header{
            width: 100%;
            height: 55px;
            background-color: #918F89;
            z-index: 100;
            p{
                width: 15%;
                height: 30px;
                padding-top: 3%;
                margin-left: 42.5%;
                color: #FFFFFF;
                text-align: center;
                margin-top: 0;
                z-index: 3;
            }
            .hamburger {
                width: 36px; 
                height: 22px;
                position: absolute;
                right: 0;
                margin-right: 20px;
                top: 0;
                z-index: 2;
                .hamburger__line {
                    position: absolute;
                    left: 11px;
                    width: 36px;
                    height: 1px;
                    background-color: #FFFFFF;
                    transition: all .6s;
                    }
                .hamburger__line--top {
                    top: 14px;
                }
                .hamburger__line--middle {
                    top: 26px;
                    
                }
                .hamburger__line--bottom {
                    top: 38px;
                }
                
            }
            .global-nav{
                position: absolute;
                left: 0;
                top: -244px; 
                width: 100%;
                height: 244px;
                background-color: #918F89;
                transition: all 0.6s;
                overflow-y: auto;
                opacity: 0.8;
                z-index: 1;
                #pc_list {
                    width: 100%;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    .global-nav__item {
                        text-align: center;
                        display: flex;
                        flex-direction: column-reverse;
                        a {
                            padding-top: 25px;
                            height: 56px;
                            display: block;
                            border-bottom: 1px solid #eee;
                            text-decoration: none;
                            color: #FFFFFF;;
                        }
                    }
                }
            }
        }
        main{
            width: 100%;
            h1{
                background-image: url("./img/AdobeStock_1_s.png");
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                width: 100%;
                height: 702px;
                display: flex;
                flex-direction: column;
                font-size: 39px;
                margin: 0;
                
                padding-top: 136px;
                box-sizing: border-box;
                span{
                    opacity: 0.6;
                    color: #918F89;
                    background-color: #FFFFFF;
                    margin-top: 12px;
                    padding-top: 19px;
                    padding-bottom: 19px;
                    padding-left: 54px;
                }
                .first_line{
                    width: 82px;
                }
                .second_line{
                    width: 174px
                }
                .third_line{
                    width: 110px
                }
            }
            .proposal{ 
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-between;
                margin-top: 6%;
                margin-bottom: 6%;
                .proposal_container{
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 10%;
                    h2{
                        font-size: 25px;
                    }
                    p{
                        font-size: 12px;
                        line-height: 30px;
                    }
                }
                img{
                    padding: 10%;
                    width: 80%;
                }
            }
            .chair{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 15%;
                h2{
                    font-size: 25px;
                    text-align: center;
                    width: 100%;
                    height: 356px;
                    letter-spacing: 2.5px;
                    color: #3B3B3B;
                    margin-bottom: 50px;
                    background-image: url("./img/AdobeStock_3_s.png");
                    background-repeat: no-repeat;
                    background-position: bottom;
                }
                #select_btn{
                    list-style: none;
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    .hidari_maru{
                        color: #707070;
                        opacity: 0.2;
                    }
                    .center_maru{
                        color: #707070;
                        opacity: 0.8;
                    }
                    .migi_maru{
                        color: #707070;
                        opacity: 0.2;
                    }
                }
            }
            .news{   
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 15%;
                h2{
                    margin-top: 0;
                    margin-bottom: 5%;
                    font-size: 25px;
                }
                .container_wrapper{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .container{
                        position: relative;
                        text-align: center;
                        margin: 0 10%;
                        img{
                            width: 100%;
                            height: 276px;
                            padding-bottom: 10%;
                        }
                        .text{
                            position: absolute;
                            color: #eee;
                            top: 0px;
                            left: 0px;
                            padding-top: 40%;
                            background-color: #000000;
                            font-size: 18px;
                            width: 100%;
                            height: 51%;
                            opacity: 0.6;
                            font-family: "";
                        }
                    }
                }
                a{
                    margin-top: 5%;
                    text-decoration: none;
                    color: #000000;
                }
            }
            .form{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                h2{
                    font-size: 25px;
                    margin-top: 80px;
                    margin-bottom: 65px;
                }
                .form_group{
                    width: 75%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    input{
                        width: 100%;
                        background: #FFFFFF 0% 0% no-repeat padding-box;
                        border: 0.5px solid #707070;
                        border-radius: 11px;
                        font-size: 14px;
                        padding: 2%;
                        opacity: 0.6;
                        margin-bottom: 8%;
                    }
                    textarea{
                        width: 100%;
                        background: #FFFFFF 0% 0% no-repeat padding-box;
                        border: 0.5px solid #707070;
                        border-radius: 11px;
                        opacity: 0.6;
                        text-align: left;
                        font-size: 14px;
                        letter-spacing: 0.6px;
                        color: #3B3B3B;
                        margin-bottom: 8%;
                    }
                    #submit{
                        width: 55%;

                        // margin-left: 22.5%;
                        height: 50px;
                        font-size: 14px;
                        color: #000000;
                        border-radius: 25px;
                        background-color: #D1D1D1;
                        border: solid 0px;
                    }
                }
            }
        }
        footer{
            
            width: 100%;
            margin-top: 150px;
            height: 276px;
            background-color: #918F89;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            #logo{
                margin-left: 42.5%;
                width: 68px;
                height: 40px;
                font-size: 16px;
                color: #FFFFFF;
                text-align: center;
            }
            ul{
                display: none;
            }
            #end{
                margin-left: 41%;
                width: 82px;
                height: 9px;
                font-size: 10px;
                letter-spacing: 0.4px;
                color: #FFFFFF;
            }
        }
    }
    .nav-open .hamburger__line--top {
        transform: rotate(405deg);
        margin-top: 12px;
    }
    .nav-open .hamburger__line--middle {
        width: 0px;
        margin-left: 20%;
        opacity: 0;
    }
    .nav-open .hamburger__line--bottom {
        transform: rotate(-405deg);
        margin-top: -12px;
    }
    .nav-open .global-nav {
        top:0;
        margin-top: 54px; //headerのheightと対応させる
    }
}