@media screen and (min-width: 480px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
body{
    font-family: Noto Sans;
    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        p{
            width: 62px;
            height: 35px;  
            font-size: 16px;
            padding-left: 7%;
            color: #918F89;
        }
        nav{
            width: 60%;
            padding-right: 7%;
            box-sizing: border-box;
            div{
                display: none;
            }
            ul{
                list-style: none;
                display: flex;
                justify-content: space-between;
                font-size: 16px;
                padding-left: 30%;
                margin-bottom: 0;
                li{
                    padding-bottom: 30px;
                    a{
                        text-decoration: none;
                        color: #918F89;
                    }
                }
                #list_news{
                    border-bottom: 3px solid black;
                    a{
                        color: #000000;
                        
                    }
                }
            }
        }
    }
    main{
        width: 100%;
        h1{
            background-image: url("./img/AdobeStock_img7.png");
            background-size: cover;
            background-repeat: no-repeat;
            height: 415px;
            padding-top: 179px;
            padding-left: 228px;
            box-sizing: border-box;
            margin: 0;
            width: 100%;
            color: #918F89;
            font-weight: lighter;
        }
        .news{
            margin-top: 86px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 15%;
            h2{
                margin-top: 0;
                margin-bottom: 80px;
                font-size: 25px;
                font-weight: lighter;
            }
            .container_wrapper{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .container{
                    position: relative;
                    text-align: center;
                    margin: 0 5%;
                    .text{
                        position: absolute;
                        left: 50%;
                        top: 100%;
                        transform: translate(-50%, -50%);
                        color: transparent;
                        transition: .3s ease;
                        font-size: 18px;
                        width: 100%;
                        opacity: 0.8;
                        font-family: "";
                    }
                    img{
                        width: 100%;
                    }
                }
                .container::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    transition: .3s ease;
                    }
                .container:hover:before {
                height: 100%;
                }
                .container:hover .text {
                color: white;
                top: 50%;
                }
            }
            a{
                display: none;
            }
        }
    }
    footer{
        width: 100%;
        height: 300px;
        position: relative;
        background-color: #918F89;
        #logo{
            position: absolute;
            color: #FFFFFF;
            font-style: normal;
            width: 50px;
            margin-top: 116px;
            margin-left: 15%;
            text-align: center;
            font-size: 22px;
        }
        ul{
            position: absolute;
            list-style: none;
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            margin-top: 130px;
            margin-left: 55%;
            padding-left: 0;
            width: 30%;
            li{
                a{
                    text-decoration: none;
                    color: #FFFFFF;
                }
            }
        }
        #end{
            position: absolute;
            font-size: 10px;
            font-weight: 400;
            font-style: normal;
            color: #FFFFFF;
            margin-left: 45%;
            margin-top: 250px;
        }
    }
}
}
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    body{
        font-family: Noto Sans;
        header{
            position: relative;
            float: left;
            width: 100%;
            height: 55px;
            background-color: #918F89;
            z-index: 100;
            p{
                width: 15%;
                height: 30px;
                padding-top: 3%;
                margin-left: 42.5%;
                color: #FFFFFF;
                text-align: center;
                margin-top: 0;
                z-index: 3;
            }
            .hamburger {
                width: 36px; 
                height: 22px;
                position: absolute;
                right: 0;
                margin-right: 20px;
                top: 0;
                z-index: 2;
                .hamburger__line {
                    position: absolute;
                    left: 11px;
                    width: 36px;
                    height: 1px;
                    background-color: #FFFFFF;
                    transition: all .6s;
                    }
                .hamburger__line--top {
                    top: 14px;
                }
                .hamburger__line--middle {
                    top: 26px;
                    
                }
                .hamburger__line--bottom {
                    top: 38px;
                }
                
            }
            .global-nav{
                position: absolute;
                left: 0;
                top: -244px; 
                width: 100%;
                height: 244px;
                background-color: #918F89;
                transition: all 0.6s;
                overflow-y: auto;
                opacity: 0.8;
                z-index: 1;
                #pc_list {
                    width: 100%;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    .global-nav__item {
                        text-align: center;
                        display: flex;
                        flex-direction: column-reverse;
                        a {
                            padding-top: 25px;
                            height: 56px;
                            display: block;
                            border-bottom: 1px solid #eee;
                            text-decoration: none;
                            color: #FFFFFF;;
                        }
                    }
                }
            }
        }
        main{
            z-index: -1;
            width: 100%;
            h1{
                margin: 0;
                background-image: url("./img/AdobeStock_7_s.png");
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                width: 100%;
                height: 454px;
                font-weight: lighter;
                font-size: 30px;
                padding-top: 135px;
                padding-left: 39%;
                box-sizing: border-box;
                color: #918F89;
            }
            .news{   
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 15%;
                margin-top: 70px;
                h2{
                    margin-top: 0;
                    margin-bottom: 70px;
                    font-size: 25px;
                    font-weight: lighter;
                    color: #3B3B3B;
                }
                .container_wrapper{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .container{
                        position: relative;
                        text-align: center;
                        margin: 0 10%;
                        img{
                            width: 100%;
                            height: 276px;
                            padding-bottom: 10%;
                        }
                        .text{
                            position: absolute;
                            color: #eee;
                            top: 0px;
                            left: 0px;
                            padding-top: 40%;
                            background-color: #000000;
                            font-size: 18px;
                            width: 100%;
                            height: 51%;
                            opacity: 0.6;
                            font-family: "";
                        }
                    }
                }
                a{
                    margin-top: 5%;
                    text-decoration: none;
                    color: #000000;
                    font-size: 21px;
                    margin-top: 70px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    i{
                        color: #00000034;
                        margin-top: 29px;
                    }
                }
            }
        }
        footer{
            
            width: 100%;
            margin-top: 150px;
            height: 276px;
            background-color: #918F89;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            #logo{
                margin-left: 42.5%;
                width: 68px;
                height: 40px;
                font-size: 16px;
                color: #FFFFFF;
                text-align: center;
            }
            ul{
                display: none;
            }
            #end{
                margin-left: 41%;
                width: 82px;
                height: 9px;
                font-size: 10px;
                letter-spacing: 0.4px;
                color: #FFFFFF;
            }
        }
    }
    .nav-open .hamburger__line--top {
        transform: rotate(405deg);
        margin-top: 12px;
    }
    .nav-open .hamburger__line--middle {
        width: 0px;
        margin-left: 20%;
        opacity: 0;
    }
    .nav-open .hamburger__line--bottom {
        transform: rotate(-405deg);
        margin-top: -12px;
    }
    .nav-open .global-nav {
        top:0;
        margin-top: 54px; //headerのheightと対応させる
    }
}