@media screen and (min-width: 480px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
body{
    font-family: Noto Sans;
    animation: fadeIn 1s ease 0s 1 normal;
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    header{
        height: 60px;
        padding: 0 7% 0 7%;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        p{
            width: 62px;
            height: 35px;  
            font-size: 16px;
            color: #918F89;
        }
        nav{
            width: 60%;
            box-sizing: border-box;
            div{
                display: none;
            }
            ul{
                list-style: none;
                display: flex;
                justify-content: space-between;
                font-size: 16px;
                padding-left: 30%;
                margin: 26px 0 0 0;
                li{
                    padding-bottom: 13px;
                    a{
                        text-decoration: none;
                        color: #918F89;
                    }
                }
                #list_qa{
                    border-bottom: 3px solid black;
                    a{
                        color: #000000;
                        
                    }
                }
            }
        }
    }
    main{
        width: 100%;
        h1{
            margin: 0;
            background-image: url("./img/AdobeStock_img8.png");
            background-size: cover;
            height: 415px;
            width: 100%;
            padding: 179px 0 0 228px;
            box-sizing: border-box;
            color: #FFFFFF;
            font-weight: lighter;
            margin-bottom: 69px;
        }
        .qa_container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 0 35%;
            box-sizing: border-box;
            h2{
                font-size: 21px;
                color: #3B3B3B;
                font-weight: lighter;
                margin: 0 0 102px 0;
                
            }
            .q_and_a_content{
                list-style: none;
                padding-left: 0;
                margin: 0 0 123px 0;
                width: 100%;
                div{
                    display: flex;
                    flex-direction: row-reverse;
                    height: 119px;
                    i{
                        color: #00000034;
                        transition: all　1s;
                    }
                    .list_title{
                        margin: 0 auto 0 0; 
                        display: flex;
                        flex-direction: column;
                        .list_head{
                            margin: 0;
                            font-size: 16px;
                            font-weight: lighter;
                            color: #3B3B3B;
                        }
                        .list_article{
                            visibility: hidden;
                            font-size: 12px;
                            font-weight: lighter;
                            color: #3B3B3B;
                            margin: 0;
                            padding: 30px 0;
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }
    }
    footer{
        width: 100%;
        height: 300px;
        background-color: #918F89;
        padding: 116px 18% 35px 18%;
        box-sizing: border-box;
        // 位置の調整
        display: flex;
        #logo{
            color: #FFFFFF;
            font-style: normal;
            font-size: 22px;
            margin: 0;
            // 位置の調整
            order: 1;
            width: 40%;
            text-align: center;
            padding-right: 30%;
            box-sizing: border-box;
            //　位置の調整
        }
        ul{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            font-size: 18px;
            padding: 0;
            //　位置の調整
            order: 3;
            width: 40%;
            text-align: center;
            //　位置の調整
            li{
                a{
                    
                    text-decoration: none;
                    color: #FFFFFF;
                }
            }
        }
        #end{
            font-size: 10px;
            color: #FFFFFF; 
            margin: 0;
            //　位置の調整
            order: 2;
            width: 20%;
            text-align: center;
            align-self: flex-end;
            //　位置の調整
        }
    }
    .rotate{
        transform: rotate(180deg);
        position: absolute;
    }
    .feedin{
        animation: fadeIn 1s ease 0s 1 normal;
        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}
}
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    body{
        font-family: Noto Sans;
        header{
            width: 100%;
            height: 55px;
            background-color: #918F89;
            z-index: 100;
            padding: 3% 0 3% 0;
            box-sizing: border-box;
            p{
                width: 15%;
                margin: 0 0 0 42.5%;
                color: #FFFFFF;
                text-align: center;
                z-index: 3;
            }
            .hamburger {
                width: 36px;
                height: 22px;
                position: absolute;
                right: 0;
                margin-right: 20px;
                top: 0;
                z-index: 2;
                .hamburger__line {
                    position: absolute;
                    left: 11px;
                    width: 36px;
                    height: 1px;
                    background-color: #FFFFFF;
                    transition: all .6s;
                    }
                .hamburger__line--top {
                    top: 14px;
                }
                .hamburger__line--middle {
                    top: 26px;
                    
                }
                .hamburger__line--bottom {
                    top: 38px;
                }
                
            }
            .global-nav{
                position: absolute;
                left: 0;
                top: -244px; 
                width: 100%;
                height: 244px;
                background-color: #918F89;
                transition: all 0.6s;
                overflow-y: auto;
                opacity: 0.8;
                z-index: 1;
                #pc_list {
                    width: 100%;
                    list-style: none;
                    padding-left: 0;
                    margin: 0;
                    .global-nav__item {
                        text-align: center;
                        display: flex;
                        flex-direction: column-reverse;
                        height: 100%;
                        a {
                            padding-top: 31.5px;
                            padding-bottom: 31.5px;
                            box-sizing: border-box;
                            border-bottom: 1px solid #eee;
                            text-decoration: none;
                            color: #FFFFFF;;
                        }
                    }
                }
            }
        }
        main{
            width: 100%;
            margin-bottom: 150px;
            h1{
                margin: 0 0 72px 0;
                background-image: url("./img/AdobeStock_8_s.png");
                background-repeat: no-repeat;
                background-size: cover;
                text-align: center;
                width: 100%;
                height: 454px;
                color: #FFFFFF;
                padding: 131px 0 300px 0;
                text-align: center;
                box-sizing: border-box;
                font-size: 30px;
                font-weight: lighter;
            }
            .qa_container{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding: 0 15%;
                box-sizing: border-box;
                h2{
                    font-size: 21px;
                    color: #3B3B3B;
                    font-weight: lighter;
                    margin: 0 0 50px 0;
                }
                .q_and_a_content{
                    list-style: none;
                    margin: 0;
                    width: 100%;
                    div{
                        display: flex;
                        flex-direction: row-reverse;
                        i{
                            color: #00000034;
                            transition: all　1s;
                        }
                        .list_title{
                            height: 107px;
                            display: flex;
                            flex-direction: column;
                            margin: 0 auto 0 0;
                            p{
                                margin: 0 auto 0 0;
                                font-size: 13px;
                            }
                            .list_article{
                                visibility: hidden;
                                padding: 20px 0;
                                box-sizing: border-box;
                            }
                        }
                    }
                }
            }
        }
        footer{
            width: 100%;
            height: 276px;
            background-color: #918F89;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            #logo{
                width: 68px;
                height: 40px;
                font-size: 16px;
                color: #FFFFFF;
                text-align: center;
            }
            ul{
                display: none;
            }
            #end{
                width: 82px;
                height: 9px;
                font-size: 10px;
                letter-spacing: 0.4px;
                color: #FFFFFF;
                text-align: center;
            }
        }
    }
    .nav-open .hamburger__line--top {
        transform: rotate(45deg);
        margin-top: 12px;
    }
    .nav-open .hamburger__line--middle {
        width: 0px;
        margin-left: 20%;
        opacity: 0;
    }
    .nav-open .hamburger__line--bottom {
        transform: rotate(-45deg);
        margin-top: -12px;
    }
    .nav-open .global-nav {
        top:0;
        margin-top: 54px;
    }
    .rotate{
        transform: rotate(180deg);
        position: absolute;
    }
    .feedin{
        animation: fadeIn 1s ease 0s 1 normal;
        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}